<%- include('partials/header.ejs') %>

<h1 class="display-5">Таблиця годин</h1>
<p>
    Тут буде інформація про кількість затреканих годин з можливістю фільтрації
</p>

<%- include('partials/footer.ejs') %>
