<%- include('partials/header.ejs') %>

<h1 class="display-5">Розробники</h1>
<br />
<button type="button" class="btn btn-primary">Оновити</button>
<br />
<table class="table">
    <thead class="thead-blue">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Avatar</th>
            <th scope="col">WS ID</th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Discord ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403245_2001.jpg"
                />
            </td>
            <td>403245</td>
            <td>Vlad Vityuk</td>
            <td>CTO</td>
            <td>vlad.vityuk@avivi.com.ua</td>
            <td>+380631908264</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403410_2003.jpg"
                />
            </td>
            <td>403410</td>
            <td>Oleksandr Kavyuk</td>
            <td>Backend Developer (Magento, Bitrix)</td>
            <td>kavyuk.oleksandr@avivi.com.ua</td>
            <td>+380970712965</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403415_2002.jpg"
                />
            </td>
            <td>403415</td>
            <td>Bohdan Shtoiko</td>
            <td>Backend Developer (Bitrix24)</td>
            <td>b.shtoiko@avivi.com.ua</td>
            <td>0685299348</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403470_2003.jpg"
                />
            </td>
            <td>403470</td>
            <td>Bohdan Tomchyshen</td>
            <td>Tech Lead</td>
            <td>b.tomchyshen@avivi.com.ua</td>
            <td>+380677505098</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403480_2001.jpg"
                />
            </td>
            <td>403480</td>
            <td>Славко Нагнибіда</td>
            <td>PR Manager</td>
            <td>pr@avivi.com.ua</td>
            <td>+380970750435</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403500_2001.jpg"
                />
            </td>
            <td>403500</td>
            <td>Anna Herasymchuk</td>
            <td>Project Manager</td>
            <td>a.gerasymchuk@avivi.com.ua</td>
            <td>empty</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403505_2002.jpg"
                />
            </td>
            <td>403505</td>
            <td>Vyacheslav Askerov</td>
            <td>Co-founder</td>
            <td>office@avivi.com.ua</td>
            <td>empty</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403515_2001.jpg"
                />
            </td>
            <td>403515</td>
            <td>Oleksii Vashchuk</td>
            <td>Backend Developer (Bitrix24)</td>
            <td>a.vashchuk@avivi.com.ua</td>
            <td>+380687623485</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403520_2003.jpg"
                />
            </td>
            <td>403520</td>
            <td>Oleg Kravpa</td>
            <td>Backend Developer (Bitrix24)</td>
            <td>oleg.kravpa@avivi.com.ua</td>
            <td>0961851359</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403525_2002.jpg"
                />
            </td>
            <td>403525</td>
            <td>Sergey Tadlya</td>
            <td>Backend Developer (Python & Bitrix)</td>
            <td>s.tadlya@avivi.com.ua</td>
            <td>0984138119</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403530_2001.jpg"
                />
            </td>
            <td>403530</td>
            <td>Yana Kravets</td>
            <td>empty</td>
            <td>jana.gomonaj@avivi.com.ua</td>
            <td>empty</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/403585_2001.jpg"
                />
            </td>
            <td>403585</td>
            <td>Anastasia Magdina</td>
            <td>Project Manager</td>
            <td>a.synyuk@avivi.pro</td>
            <td>empty</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>
                <img src="https://avivi.worksection.com/images/user/0f.gif" />
            </td>
            <td>403725</td>
            <td>slackbot</td>
            <td>#general avivii.slack.com</td>
            <td>slackbot@worksection.com</td>
            <td>empty</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/405390_2001.jpg"
                />
            </td>
            <td>405390</td>
            <td>Ruslan Popadiuk</td>
            <td>Backend Developer (Bitrix)</td>
            <td>r.popadiuk@avivi.com.ua</td>
            <td>+380967092073</td>
            <td>empty</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>
                <img
                    src="https://avivi.worksection.com/images/user/167765/407700_2001.jpg"
                />
            </td>
            <td>407700</td>
            <td>Bocharov</td>
            <td>empty</td>
            <td>bocharov@avivi.ua</td>
            <td>empty</td>
            <td>empty</td>
        </tr>
    </tbody>
</table>

<p class="text-muted mt-3">* Дані з Worksection, демонстраційна заглушка</p>

<%- include('partials/footer.ejs') %>
